* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.template {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ddd;
}

/* code for navbar */
.navbar {
  position: relative;
}
.navbar .container {
  position: relative;
}
.input-nav-container {
  position: absolute;
  right: 0em;
}

/* end code navbar */
